@import "~bulma";

.bg-parent {
  position: relative;
}

.bg-fixed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://i.giphy.com/JIX9t2j0ZTN9S.gif") no-repeat center center;
  background-size: cover;
  opacity: 0.2;
}