html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #1e1e1e;
  color: rgba($color: white, $alpha: .54);
  font-size: 1.2rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  margin-top: 6rem;
  font-size: 4.5rem;
  font-weight: 300;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 2.75rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 1.5rem;
}

pre {
  font-size: 1rem;
  background-color: black !important;
  padding: 1rem 1.5rem !important;
  overflow: auto;
}

p {
  color: rgba($color: white, $alpha: .87);
  font-weight: 300;
  max-width: 55rem;
}
