pre {
  font-size: 1rem;
  background-color: black !important;
  padding: 1rem 1.5rem !important;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

code {
  font-size: 87.5%;
  color: #3498db;
  word-break: break-word;
}
